.leaderboard-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.dropdown {
    margin-left: auto;
    text-align: center;
}

select {
    background-color: #f0f0f059; /* Change this to your background color */
    color: #333; /* Change this to your text color */
    font-family: 'Luckiest Guy', cursive;
    color: #D3D3D3;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px 0;
    width: 20%;
    box-sizing: border-box;
    -webkit-appearance: none; /* Removes the default dropdown arrow in Chrome/Opera/Safari */
    -moz-appearance: none; /* Removes the default dropdown arrow in Firefox */
    appearance: none; /* Removes the default dropdown arrow for other browsers */
  }
  
  select:focus {
    outline: none;
  }
  
  /* Custom dropdown arrow */
  select::-ms-expand {
    display: none;
  }
  
  select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #ddd;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }